.window.shopadmin .newProduct .name{
    grid-area: name;
}
.window.shopadmin .newProduct .type{
    grid-area: type;
}
.window.shopadmin .newProduct .price{
    grid-area: price;
}
.window.shopadmin .newProduct .price_kg{
    grid-area: price_kg;
}
.window.shopadmin .newProduct .picked{
    grid-area: picked;
}
.window.shopadmin .newProduct .delivered{
    grid-area: delivered;
}
.window.shopadmin .newProduct .tva{
    grid-area: tva;
}
.window.shopadmin .newProduct .description{
    grid-area: description;
}
.window.shopadmin .newProduct .submit{
    grid-area: submit;
}
.window.shopadmin .newProduct > form{
    display: grid;
    background: white;
    height: auto;
    padding: 10px;

    grid-template-areas:
    "name price type"
    "tva description description"
    "price_kg picked delivered"
    "cancel submit submit";
    grid-template-columns: 30% auto;
    grid-gap:10px;
}
.window.shopadmin .newProduct{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 20px;
    padding-top: 200px;
    z-index: 10;
}
.window.shopadmin .newProduct{
    text-align: center;
}