.window.user{
    grid-template-areas:
            "infos"
            "addresses"
            "shops"
            "actions"
            "orders";

}
.window.user > div{
    margin: 20px;
}
.window.newAddress > form{
    grid-template-areas:
        "title title"
        "number way"
        "postalcode city"
        ". state"
        "cancel submit";
    grid-template-columns: 30% auto;
}
.window.newAddress h1{
    grid-area: title;
}



.window.newAddress .number{
    grid-area: number;
}
.window.newAddress .way{
    grid-area: way;
}
.window.newAddress .city{
    grid-area: city;
}
.window.newAddress .postalcode{
    grid-area: postalcode;
}
.window.newAddress .state{
    grid-area: state;
}

.window.newAddress .cancel{
    grid-area: cancel;
}
.window.newAddress .submit{
    grid-area: submit;
}
.window.user .addresses table{
    text-align: left;
}
.window.user img{
    height: 30px;
}
.window.user .infos{
    grid-area: infos;
}
.window.user .addresses{
    grid-area: addresses;
}
.window.user .actions{
    grid-area: actions;
}
.window.user .actions button{
    margin: 5px 0;
}
.window.user .shops{
    grid-area: shops;
}
.window.user .orders{
    grid-area: orders;
}
.window.user table{
    width: 100%;
    text-align: left;
}
.window.newShop > form{
    grid-template-areas:
        "title title"
        "infos infos"
        "address address"
        "cancel submit";
    grid-template-columns: 30% auto;
}
.window.newShop .infos{
    grid-area: infos;
}
.window.newShop h1{
    grid-area: title;
}
.window.newShop .address{
    grid-area: address;
}
.window.newShop .cancel{
    grid-area: cancel;
}
.window.newShop .submit{
    grid-area: submit;
}

@media(min-width: 800px){
    .window.user{
        grid-template-areas:
                "title title title title"
                "infos infos infos actions"
                "addresses addresses shops shops"
                "orders orders orders orders";
    }
    .window.newShop > form{
        grid-template-areas:
        "title title title title"
        "infos infos address address"
        "cancel submit submit submit";
    }
}