*{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}

header .logo img{
    height: 54px;
}
header img{
    margin-right: 10px;
    vertical-align: middle;
    height: 30px;
}
header{
    position: sticky;
    top: 0;
    display: grid;
    grid-template-areas:
        "logo  . account cart"
        "search search search search"
        "address address address address";
    grid-template-columns: 60px auto 100px 60px;
    background: #58391C;
    color: white;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    z-index: 1;
}
header .logo{
    grid-area: logo;
    margin: 5px 0 0 5px;
}
header .account{
    grid-area: account;
    text-align: center;
}
header .account img{
    display: none;
}
header .cart{
    grid-area: cart;
    text-align: center;
    margin: 5px 20px 0 0;
}
header .cart span{
    display: none;
}
header .cart img{
    height: 38px;
}
form.search{
    grid-area: search;
    text-align: center;
    margin: 0 10px 5px 10px;
    background: white;
    border-radius: 9px;
    padding: 5px 10px;
}
header .address{
    grid-area: address;
    background: #6A492B;
    padding: 5px 20px;
}
header .address img{
    height: 20px;
}

form.search img{
    margin-right: 0;
    margin-left: 10px;
    float: right;
}

form.search input{
    font-size: 25px;
    color: #58391C;
    text-align: center;
    width: calc(100% - 40px);
    height: 100%;
    display: inline-block;
    border: none;
}
form.search input:focus{
    outline: none;
}
form.search input:focus::placeholder{
    font-size: 0;
}
form.search input::placeholder{
    font-weight: bold;
    color: #6A492B;
}

.container{
    position: relative;
    min-height: calc(100vh - 136px);
    z-index: 0;
}

input{
    background: none;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 2px 5px;
    border-radius: 3px 0 0 0;
    color: white;
}

.clickable{
    cursor: pointer !important;
    transition: transform .2s;
}

.input{
    position: relative;
    margin: 7px;
    border-bottom: 2px solid #BFBFBF !important;

}
.input input{
    width: 100%;
    border: none;
    margin: 5px;
    font-size: inherit;
    position: relative;
    color: #58391C;
}
.input input:focus{
    outline: none;
}
.input::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    transition: width .2s ease-out;
    height: 0;
    border-bottom: 2px solid #58391C;
}
.input:focus-within::after{
    width: 100%;
}
.input.error::after{
    border-bottom: 2px solid #9c0e21;
    width: 100%;
}
.button{
    width: 100%;
    font-size: inherit;
    background: #58391C;
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.button:focus{
    outline: none;
}
.dropDown select{
    margin: 10px;
    font-size: inherit;
}
.errorPopup{
    display: none;
    position: absolute;
    left: 0;
    background: #9c0e21;
    color: white;
    padding: 5px;
    margin: 0 5px;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    z-index: 100;
}
.successPopup{
    display: none;
    position: absolute;
    left: 0;
    background: #145f06;
    color: white;
    padding: 5px;
    margin: 0 5px;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    z-index: 100;
}
h1{
    padding: 0;
    margin: 0;
}
h2{
    margin: 0;
    padding: 0;
}
.popup{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 20px;
    padding-top: 200px;
    z-index: 10;
    text-align: center;
}
.popup > form{
    background: white;
    height: auto;
    padding: 10px;
    grid-gap: 10px;
    display: grid;
}
.back{
    padding: 10px;
    display: grid;
}

table{
    text-align: left;
}
table tr td{
    padding: 10px 0;
}
table img{
    height: 30px;
}

.dropDown{
    border: none;
    font-size: inherit;
}
.dropDown option:checked{
    margin: 0 5px;
}
@media(min-width: 800px) {
    .back{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        min-width: 800px;
    }
    .popup > form{
        margin: auto;
        max-width: 1100px;
    }
    .clickable:hover{
        transform: scale(.95);
    }
    .container{
        min-height: calc(100vh - 60px);
    }
    header{
        grid-template-areas: "logo address search account cart";
        grid-template-columns: max-content max-content auto max-content max-content;
        padding: 5px 20px;
    }
    header div{
        margin: 10px;
    }
    header img{
        height: 30px !important;
    }
    header .logo img{
        height: 45px !important;
    }
    header .cart span{
        display: inline-block;
    }
    header .account img{
        display: inline-block;
    }
    header .address{
        background: none;
        padding: 0;
    }
    header .cart{
        margin: 0;
    }

    form.search{
        margin: 0 10px 0 10px;
    }
    header .logo{
        margin: 0;
    }
}