.search.window{
    display: none;
    overflow: hidden;
    grid-template-areas: "searchList";
}

.searchList{
    grid-area: searchList;
    height: 100%;
    margin: 0 auto;
}
.map{
    grid-area: map;
    display: none;
    overflow: hidden;
    height: 100vh;
}

.searchElement{
    background: #6A492B;
    margin: 5px;
    border-radius: 32px;
    display: grid;
    grid-template-areas:
        "icon content";
    grid-template-columns: max-content auto;
    padding: 10px;
    color: white;
    align-items: center;
    max-width: 423px;
}
.searchElement img{
    grid-area: icon;
    background: white;
    border-radius: 25px;
    padding: 5px;
    height: 100px;
}
.searchElement .content{
    grid-area: content;
    padding: 0 10px;
}
.searchElement .content > div{
    margin: 2px 0;
}
.searchElement .content span{
    white-space: nowrap;
    overflow: hidden;
}
.searchElement .content .name{
    font-weight: bold;
    font-size: 25px;
}
.searchElement .content .infos{
    display: flex;
    justify-content: space-between;
    color: #BFBFBF;
}


@media (min-width: 800px) {
    .search.window{
        grid-template-areas: "map searchList";
        grid-template-columns: auto 500px;
        height: calc(100vh - 60px);
        overflow: hidden;
    }
    .map{
        display: block;
    }
    .searchList{
        overflow: scroll;
        margin: 0;
    }
    .searchElement {
        margin: 15px;
        max-width: none;
    }

    .searchElement img{
        height: 117px;
    }
    .searchElement .content .name{
        font-size: 30px;
    }
}