.window.newProduct .name{
    grid-area: name;
}
.window.newProduct .type{
    grid-area: type;
}
.window.newProduct .price{
    grid-area: price;
}
.window.newProduct .price_kg{
    grid-area: price_kg;
}
.window.newProduct .picked{
    grid-area: picked;
}
.window.newProduct .delivered{
    grid-area: delivered;
}
.window.newProduct .tva{
    grid-area: tva;
}
.window.newProduct .description{
    grid-area: description;
}
.window.newProduct .submit{
    grid-area: submit;
}
.window.newProduct h1{
    grid-area: title;
}
.window.shopadmin .products img{
    height: 30px;
}
.window.newProduct > form{
    grid-template-areas:
        "title title"
        "name name"
        "price tva"
        "description description"
        "price_kg type"
        "picked delivered"
        "cancel submit";
}
.window.shopadmin table{
    border-spacing: 20px 0;
}
.window.shopadmin > div{
    margin: 10px 0;
}

@media(min-width: 800px){
    .window.newProduct > form{
        grid-template-areas:
            "title title title"
            "name price type"
            "tva description description"
            "price_kg picked delivered"
            "cancel submit submit";
    }
}